<div class="row">
    <div class="col-6">
        Grafica
        <app-doughnut [title]="title1" [legend]="legend1" [data]="data1" ></app-doughnut>
    </div>
    <div class="col-6">
        Grafica
        <app-doughnut [title]="title2" [legend]="legend2" [data]="data2"></app-doughnut>
    </div>
</div>
<div class="row">
    <div class="col-6">
        Grafica
        <app-doughnut [title]="title3" [legend]="legend3" [data]="data3"></app-doughnut>
    </div>
    <div class="col-6">
        Grafica
        <app-doughnut [title]="title4" [legend]="legend4" [data]="data4"></app-doughnut>
    </div>
</div>